<p id="notice"><%= notice %></p>

<h1>VR新生活</h1>

<a href="uxsers/index">全天球写真管理画面</a>

<a href="articles/index">物件管理画面</a>

<a href="rooms/index">間取り図管理画面</a>

<a href="furniture_items/index">家具管理画面</a>
